[run]
branch = True
source = scripts
omit =
    scripts/cli/jmo.py
    scripts/cli/jmotools.py
    scripts/cli/clone_from_tsv.py
    scripts/core/generate_dashboard.py
    scripts/core/reporters/suppression_reporter.py
    scripts/core/schema_utils.py
    scripts/core/suppress.py

[report]
show_missing = True
skip_empty = True
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    ^if __name__ == ['"]__main__['"]:$
omit =
    scripts/cli/jmo.py
    scripts/cli/jmotools.py
    scripts/cli/clone_from_tsv.py
    scripts/core/generate_dashboard.py
    scripts/core/reporters/suppression_reporter.py
    scripts/core/schema_utils.py
    scripts/core/suppress.py
